<!DOCTYPE html>
<html>

<head>
<title><%= @user.name %>の履歴</title>
</head>

<body>
    <h1><%= @user.name %></h1>
    <h3>ペナルティ履歴</h3>
    <table border="1">
        <tr>
            <th>日時</th>
            <th>ペナルティ数</th>
            <th>理由</th>
        </tr>
        <% @penalties.each do |penalty| %>
        <tr>
            <td><%= penalty.created_at %></td>
            <td><%= penalty.count %></td>
            <td><%= penalty.reason %></td>
        </tr>
        <% end %>
    </table>

    <a href="/admin/penalties/list">ペナルティ一覧に戻る</a>

    <h3>ペナルティ追加</h3>
    <%= form_for @penalty, url: penalty_path do |f| %>
        <%= f.text_field :reason %>
        <%= f.select :count, [1,2,3,4,5] %>
        <%= f.submit %>
    <% end %>
</body>

</html>